// VARIABLES
@import "assets/sass/variables/colors";

// VENDORS
@import "assets/sass/vendors/normalize";

.main {
  background-image: url("../src//assets/images/background.png");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  row-gap: 50px;
  padding: 50px 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    padding: 60px 80px;
  }
}

p {
  margin: 0;
  padding: 0;
}
